.boton1 {
    background: #07e349 !important;
    color: #ffffff;
    border: 0px !important;
  }
  
  .boton1:active {
    background: #07e349 !important;
    color: #ffffff;
    border: 0px !important;
    box-shadow: none !important;
  }
  .boton1:active:focus {
    background: #07e349 !important; ;
    color: #ffffff;
    border: 0px !important;
    box-shadow: none !important;
  }
  .boton1:hover {
    background: #07e349 !important;
    color: #ffffff;
    border: 0px !important;
    box-shadow: none !important;
  }
  
  .boton1::after {
    background: #07e349 !important;
    color: #ffffff;
    border: 0px !important;
    box-shadow: none !important;
  }